.place__row {
  display: flex;
  margin-bottom: 48px;
}

.place__row:nth-child(2) {
  margin-bottom: 80px;
}

.place__row:last-child {
  margin:0;
}

@media screen and (max-width: 760px) {
.place__row {
  margin:0 auto 0;
  display: block;
}
.place__row:nth-child(2) {
  margin-bottom: 50px;
}
}

