.header__link {
  margin:0;
  color:#FFFFFF;
  font-size: 24px;
  line-height: 28px;
  text-decoration:none;
  max-width:30px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  transition: .3s;
}

.header__link:hover {
  opacity: 0.8
}

.header__link:last-child {
  margin-left:18px;
}

@media screen and (max-width: 596px) {
.header__link {
  max-width: 22px;
  font-size: 18px;
  line-height: 20px;
}
}
