.lead__caption {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  width: 100%;
  margin:8px auto 0;
}

@media screen and (max-width: 976px) {
.lead__caption  {
  margin-left:24px;
  max-width: 160px;
}
}

@media screen and (max-width: 896px) {
.lead__caption {
  margin-left: 24px;
}
}

@media screen and (max-width: 596px) {
.lead__caption {
  max-width: 160px;
  max-height: 14px;
  margin-left: 16px;
  font-size: 10px;
}
}
