.cover__title {
  margin:0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  max-width: 510px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  z-index: 1;
}


@media screen and (max-width: 596px) {
.cover__title {
  font-size:32px;
  line-height: 35px;
}
}
